.container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 900px){
  app-song, app-playlist{
    width: 80%;
  }
}

@media screen and (max-width: 900px){
  app-song, app-playlist{
    width: 100%;
  }
}

app-song{
  display: block;
  margin-bottom: 40px;
}

app-playlist{
  display: block;
  margin-bottom: 20px;
}
