input[type="text"]{
  width: 100%;
  padding: 0 0 0 15px;
  background-color: var(--primary);
  border-radius: 10px 0 0 10px;
}

@media screen and (min-width: 900px){
  .suggestions{
    width: 80%;
    position: absolute;
  }
}

.suggestions{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 25px));
  column-gap: 30px;
  row-gap: 10px;
}

input[type="button"]{
  border-radius: 0 10px 10px 0;
  width: 120px;
  max-width: 200px;
  background-color: var(--secondary);
}

input[type="submit"]:hover{
  background-color: var(--hover-secondary);
}

.description{
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  margin: 0 0 10px 0;
}

input{
  height: 95px;
  border: 0;
  margin: 0;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}

form{
  display: flex;
}
