.container {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  gap: 20px;
  grid-template-areas: "cover information duration";
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.cover {
  display: flex;
  align-self: center;
  grid-area: cover;
  height: 95%;
}

.cover img{
  height: var(--cover-size);
}

.information {
  grid-area: information;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.title {
  display: flex;
  align-items: flex-end;
  font-size: var(--title-size);
  font-weight: 400;
}

.information p{
  margin: 0;
}

.artist{
  display: flex;
  align-items: flex-start;
  font-size: var(--artist-size);
  font-weight: 300;
}

.duration {
  grid-area: duration;
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: right;
}

.information, .duration{
  font-family: 'Roboto', sans-serif;
  color: white;
}

.listItem.container{
  grid-template-columns: var(--cover-size) calc(100% - var(--cover-size) - 40px);
}

.bigItem.container{
  grid-template-columns: var(--cover-size) calc(100% - var(--cover-size) - 80px - 40px) 80px;
}

.listItem{
  --artist-size: 14px;
  --title-size: 18px;
  --cover-size: 64px;
  background: var(--secondary);
  width: 100%;
  height: 70px;
}

.bigItem{
  --artist-size: 24px;
  --title-size: 32px;
  --cover-size: 100px;
  background: var(--primary);
}


