.container {
  position: relative;
  display: grid;
  height: var(--height);
  width: 100%;
  gap: 15px;
  grid-template-areas: "cover information";
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: var(--height) calc(100% - var(--height) - 15px);
}

.cover {
  display: flex;
  flex-direction: column;
  grid-area: cover;
  height: var(--height);
}

.cover img{
  width: 100%;
}

.information {
  grid-area: information;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.title {
  display: flex;
  align-items: flex-end;
  font-size: var(--title-size);
  font-weight: 400;
}

.information p{
  margin: 0;
}

.artist{
  display: flex;
  align-items: flex-start;
  font-size: var(--artist-size);
  font-weight: 300;
}

.duration {
  grid-area: duration;
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: right;
}

.information, .duration{
  font-family: 'Roboto', sans-serif;
  color: white;
}


.listItem{
  --artist-size: 14px;
  --title-size: 18px;
  background: var(--secondary);
  width: 100%;
  --height: 64px;
}

.bigItem{
  --artist-size: 18px;
  --title-size: 24px;
  --cover-size: 100px;
  --height: 106px;
  background: var(--primary);
}


